* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  height: auto;
  width: 1400px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* Sidebar Navigation*/
.sidebar {
  top: 0;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #000;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  transition: right 0.3s ease;
  animation: easein 0.2s ease-in;
  z-index: 2;
}

@keyframes easein {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}

.sidebar_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Màu overlay đen với độ trong suốt 50% */
  z-index: 1; /* Đảm bảo overlay luôn hiển thị dưới sidebar */
  display: none;
}

.sidebar .hidden {
  display: none !important; /* Ẩn các phần tử có class hidden */
}

#sidebar-active {
  display: none;
}

.sidebar > label {
  width: 100%;
  height: 35px;
  right: -300px;
  /* background-color: #fff; */
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sidebar > label:hover {
  background-color: #fff;
  transition: linear 0.2s;
  transform: translateY(-2px);
  cursor: pointer;
  color: #f5221b;
}

.sidebar > label > span {
  font-size: 16px;
}

.sidebar_close_icon {
}

.sidebar_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar_avatar > img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.sidebar_avatar > span {
  text-align: center;
  color: #fff;
  padding-top: 10px;
}

.sidebar_info_list {
  margin-top: 40px;
}

.sidebar_info_item {
  width: 100%;
  background-color: #000;
  line-height: 40px;
  border-radius: 10px;
  list-style: none;
  margin-bottom: 20px;
}

.sidebar_info_item > a {
  text-decoration: none;
  color: #fff;
}

.sidebar_info_item:hover {
  background-color: #fff;
  transition: linear 0.2s;
  cursor: pointer;
}

.sidebar_info_item:hover > a {
  color: #f5221b;
  margin: 0 10px;
  transition: linear 0.2s;
  font-weight: 600;
}

.sidebar_languages {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
  cursor: pointer;
}

.sidebar_languages > p span {
  opacity: 0.6;
}

.sidebar_info_contact {
  width: 100%;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.8;
  padding: 20px 0;
  line-height: 25px;
}

.sidebar_logout {
  color: #f5221b;
  margin-top: 40px;
  cursor: pointer;
}

.sidebar_logout:hover {
  opacity: 0.8;
}

/* Header */
#header {
  height: 80px;
  width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  position: fixed;
  box-shadow: #000;
}

.header_navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

.header_navbar_list {
  display: inline-flex;
  list-style: none;
}

.header_navbar_item {
  margin: 0 20px;
}

.header_navbar_item > a {
  text-decoration: none;
  color: #000;
}

.header_navbar_item > a:hover {
  color: #f5221b;
  cursor: pointer;
  transition: 1ms linear;
}

.header_navbar_item_highlighted > a {
  color: #f5221b;
}

.header_navbar_menu {
}

.header_navbar_menu_icon {
  font-size: 30px;
  margin-right: 20px;
  color: #000;
}

.header_navbar_menu_icon:hover {
  color: #f5221b;
  cursor: pointer;
}
/* Body */
#body {
  padding-top: 80px;
}

.body_typography {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 110px;
  color: #000;
}

.body_typography_content {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding-top: 40px;
}

/* Our thing */
.body_art_ourthings {
  width: 100%;
  height: 420px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.body_art_ourthings_content {
  width: 50%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_art_ourthings_picture {
  width: 50%;
  height: 420px;
}

.body_art_ourthings_picture > img {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  object-fit: cover;
}

/* Our mission */
.body_typography_content_ourmission_container {
  width: 100%;
  height: auto;
}

.body_typography_content_ourmission {
  width: 10%;
  margin: 0 auto;
  top: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: sticky;
  background-color: #fff;
  padding-top: 80px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.body_typography_content_ourmission > h4 {
}

.body_typography_subcontent_ourmission {
  width: 50%;
  margin-top: 80px;
}

.body_art_gallery_exhibtion_list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.body_art_gallery_exhibtion_item {
  width: 460px;
  height: auto;
}

.body_art_gallery_exhibtion_picture > img {
  width: 460px;
  height: 328px;
  object-fit: cover;
  border-radius: 10px;
}

.body_art_gallery_exhibtion_picture > p {
  padding-top: 12px;
  font-weight: bold;
}

/* Our team */
.body_typography_content_ourteam_container {
  width: 100%;
  height: auto;
}

.body_typography_content_ourteam {
  width: 10%;
  margin: 0 auto;
  top: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: sticky;
  background-color: #fff;
  padding-top: 80px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.body_typography_content_ourteam > h4 {
}

.body_typography_subcontent_ourteam {
  width: 50%;
  margin-top: 80px;
}

.body_art_gallery_member_list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.body_art_gallery_member_item {
  width: 460px;
  height: auto;
}

.body_art_gallery_member_picture > img {
  width: 460px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.body_art_gallery_member_picture > p {
  padding-top: 12px;
  font-weight: light;
  text-align: center;
}

.body_art_gallery_member_picture > span {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/* Footer */
#footer {
  margin: 200px 0 20px 0;
}

.footer_title {
  display: flex;
  justify-content: center;
  font-size: 10px;
  opacity: 0.7;
  color: #000;
}
